<appSettings>   
  <add key="associateTag" value="bluribrev09-20"/>
  <add key="accessKeyId" value="AKIAJS3VL4HC4UOSUY5Q"/>
  <add key="secretKey" value="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"/>
  <add key="mailSecretKey" value="key-4e87ef935e2ed91022e4d392b31d7ea9"/>
  <add key="mailPubKey" value="pubkey-94b947127c622afdc948942534a2ba70 "/>
</appSettings>