
@{
    ViewBag.Title = "FAQs";
}

<div class="product-top">
    <h2>Frequently Asked Questions</h2>
    <img src="~/images/br_logo.png" class="faq-logo" />
</div>

    <div class="row">
        <div class="col-sm-7">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Blue Ribbons Review?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                We are the premiere location for incredible discounts on great products!
                            </p>
                            <p>
                                Our goal is to help sellers get their products into your hands at massive discounts or even free! In exchange for receiving these incredible deals, you must agree to write an honest, unbiased review after having a chance to use the product.
                            </p>
                            <p>
                                Blue Ribbons Review started as a Facebook Review Group and after much success we decided to take reviewing to the web. Partners Amber (Reviewer) and Alex (Amazon Seller) have teamed up together to create an ideal Amazon Review Website that appeals to both sellers and reviewers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                How does it work?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <p>
                                You browse the available @Html.ActionLink("products", "Index", "Product") and decide what you'd be interested in owning and reviewing. Simply make a request for that product by choosing which type of review you would like to complete (Well written, picture or video) and we'll add you to the list of people interested in that great deal. If chosen you will receive an email with the product discount code and product link to complete the order. You can also go to your personal reviewer dashboard to see what products you were accepted for and need to review. Once we verify your review you can choose a new product.
                            </p>
                            <p>
                                There are no forms required to complete other than your initial profile when you create an account. We want to make this a fun and simple experience.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Am I guaranteed these great deals?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <p>
                                We can't guarantee everyone will be selected for every deal. Sometimes the companies we work with are willing to supply enough quantity for everyone to receive the deal. But usually, the deals are so significant that it only makes sense to offer a limited quantity.
                            </p>
                            <p>
                                When selecting a product to review, you can choose from completing a well-written, Picture or Video review. Please note: we do except picture and video reviews to include well written as well. You will have a better chance of being selected for a product if you choose pictures and videos as these are more valuable to sellers.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                What are the requirements?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <p>
                                We welcome new and experienced reviewers! To be eligible, you must be at least 18 years old and have an Amazon.com account. You will need to supply your Amazon Profile ID when you register. (We'll help you find your Amazon ID!)
                            </p>
                            <p>
                                We highly recommend having Amazon Prime as most of our products offered are FBA (Fulfilled my Amazon) which prime members receive free two shipping. Without Prime you will be responsible for any additional shipping cost after discount.
                            </p>
                            <p>
                                Please make sure all reviews completed are well written, at least 70 words (not including disclaimer) and include a disclaimer on every discounted product that states that you received the product discounted in exchange for an honest and unbiased review. Those who do not meet these requirements when submitting their reviews will have submissions rejected until corrected. If they are not corrected, you may be removed from the website. We want reviewing to be fun but we must also make sure we are submitting quality reviews to the sellers who are giving their products away at such a high discount.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What is a "high-quality" product review?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                        <div class="panel-body">
                            <p>
                                For exceptional deals that have an overwhelming number of people willing to become a reviewer, we will focus on selecting members who provide high-quality product reviews.
                            </p>
                            <p>
                                Giving a detailed well written honest review is how to achieve a “high quality” review. Reviews must be at least 70 words not including the disclaimer, spelled checked and picture and video are highly recommend.
                            </p>
                            <p>
                                Sometimes it makes sense to do a video review, and these are often the most helpful! A video review of at least 1.5 minutes and includes you talking about and showing the product is what we see as a very high-quality review. Often, we will make the best deals available to those who complete video reviews.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Am I required to give a positive review?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                        <div class="panel-body">
                            <p>
                                No! We want your honest review! In fact, you are required to include a disclaimer for every product that you receive discounted or free. I recommend using the disclaimer “I received this product discounted in exchange for my honest and unbiased review” but you are also welcome to create your own wording as long as it is stating that the product was given discount in exchange for an honest review. Your review should be your accurate and fair assessment of the product.
                            </p>
                            <p>
                                We do recommend if you feel a product deserves less than four stars, to contact the seller and see if they can send a replacement or at least learn what made this product seem unsatisfactory. We want to make sure the sellers get as much feedback as we can offer so they can continue to learn and grow from this process as well.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                How long do I have and what happens if I forget to complete the review?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                        <div class="panel-body">
                            <p>
                                When selected for a product, you will be given a discount code for purchasing the item on Amazon at the provided link or instructions given by seller. Discount Codes are only Active for a limited time so we ask that you completed the order within 48 hours to avoid the code expiring. If your code has expired or the code is not valid please submit the contact form and will reply back within the next 24 hours.
                            </p>
                            <p>
                                You are given 14 days from when you are accepted for the promotion to complete your review.
                            </p>
                            <p>
                                If a review is not completed by the 14th day, you will immediately become ineligible for additional product discounts. If your review is not posted after 30 days your membership will be cancelled. At any time you were unable to order or you have not received your item please let us know so these timeframes can be adjusted.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 faq-img">
            <img src="~/images/FAQ.jpg" />
        </div>
    </div>

    @section Scripts{

        @*Social Buttons on this page*@
        <script src="@Url.Content("~/Scripts/SocialInit.js")"></script>
    }
