
@{
    ViewBag.Title = "Sample Product Reviews";
}

<h2>Sample Reviews</h2>
<p>Take a look at these "helpful" reviews!</p>
<div class="row reviewpage">
    <div class="col-sm-12 reviewrow">
        <iframe id="reviewsExampleFrame" src="@ViewBag.Frame"></iframe>
    </div>
</div>